* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

@font-face {
    font-family: 'latoregular';
    src: url('./fonts/lato-regular-webfont.woff2') format('woff2'),
         url('./fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('./fonts/lato-light-webfont.woff2') format('woff2'),
         url('./fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'latolight';
}

p, tr, li, button {
  font-family: 'latoregular';
}

a {
  color: #d47065;
  text-decoration: none;
}

.MainNav {
  display: flex;
  background: #333;
  height: 100px;
  align-items: center;
  justify-content: space-between;
}
.MainNav__link {
  margin: 0 40px;
}

.MainNav__profile {
  margin: 0 40px;
  display: flex;
  gap: 20px;
  align-items: center;
  color: #fff;
}

.MainNav__profile__picture img {
  width: 50px;
  height: auto;
  border-radius: 32px; /* forced picture to a circle in case it is a square */
  border: solid 3px rgba(255,255,255,0.3);
}

.DirectoryTree {
  background: #f7f7f7;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.DirectoryTree__item {
  background: rgba(0,0,0,0.04);
  padding: 20px 10px;
  color: #999;
  display: flex;
}

.DirectoryTree__item svg:last-of-type { padding-right: 2%; }

.DirectoryTree__item:hover {
  background-color: rgba(0,0,0,0.1);
}

.FileBrowser {
  flex-grow: 10;
  border: solid 1px #222;
}

.DirectoryTree__item__root {
  background: #d47065;
  color: #fff;
}

.DirectoryTree__item__root:hover {
  background: #d47065;
}

.MainWindow {
  display: flex;
  min-height: 100vh;
}

.expanded-arrow {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  margin: 4px;
}

.collapsed-arrow {
  width: 0; 
  height: 0; 
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 7px solid #666;
  margin-right: 10px;
  margin-left: 10%;
}

.FileBrowser__Navigation {
  padding: 9px;
  font-family: 'latolight';
  font-size: 22px;
  border-bottom: solid 1px #cdcdcd;
  display: flex;
  gap: 20px;
}

.FileBrowser__MainPanel {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.folder {
  color: #777;
  padding: 10px;
  cursor: pointer;
}

.folder:hover {
  background: rgba(0,0,0,0.1);
  border-radius: 8px;
}

.button {
  cursor: pointer;
  background: #fff;
  color: #999;
  border: 0;
  border-radius: 8px;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  padding: 10px 20px;
}

.button:hover {
  background: rgba(0,0,0,0.05);
}

@media(max-width:800px) {

}